@font-face {
font-family: Franklin Gothic Medium;
src: url('css/font/framd.ttf');
}

html {
  font-family: Franklin Gothic Medium;
  height:100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
color:white;
background-color:#141b23;
}

div {
  display: block;
}


ul, li {
  padding-right: 15px;
display: inline-block;
list-style: none;
}


h1 {
font-size: 15pt;
color: white;
}

p {
  font-size: 10pt;
}

a{
  color:grey;
  text-decoration:none;
  }

a:visited {
  color:grey;
  font-style: oblique;
}

a:hover {
color:white;
}

a:active {
color:black;
}

.container {
width: 100%;
height: 100%;
background-image: url('images/moon.png') ;
background-repeat:no-repeat;
background-position:right top;
background-size:1150px 800px;
}


#header {
margin-top: -60px;
height: 40px;
width:490px;
text-align: left;
}


.wrapper {
margin-top: 170px;
margin-left: 100px;
width: 600px;
color: grey;
}

.li-wrapper {
margin-top:130px;
margin-left: 20px;
color:grey;
}

.footer {
color:grey;
position:absolute;
left:60px;
bottom:0;
height: 90px;
}
